/* TAB BAR */

.tabBar {
    color: black;
    background-color: black
}
a.navbar-brand {
    font-size: 200%;
}
nav.navbar.navbar-inverse {
    float: left;
    width: 100%;
    height: 8%;
    padding-top: 1%
}
div.container {
    width: 100%;
}

/* LOADER */

.loaderContainer {
    display: inline-block;
    margin: 0 auto;
}
.loaderParent {
    text-align: center;
    margin-top: 5%;
}

/* LOGIN PAGE */

.iconContainer {
    border-style: solid;
    border-color: grey;
    border-width: thin;
    height: 25%;
    width: 40%;
    margin-left: 30%;
    margin-top: 5%;
}
.scraibLoginHeaderContainer {
    height: 15%;
    text-align: center
}
.scraibLoginHeader {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 100
}
.loginInputFields {
    margin-top: 5%;
    padding-top: 5%;
    text-align: center;
    height: 20%;
}
.loginButtonContainer {
    width: 60%;
    margin-left: 20%; 
}