/* TAB BAR */

.tabBar {
    color: black;
    background-color: black
}
a.navbar-brand {
    font-size: 200%;
}
nav.navbar.navbar-inverse {
    float: left;
    width: 100%;
    height: 8%;
    padding-top: 1%;
    margin-bottom: -0.5%;
}
div.container {
    width: 100%;
}

/* LOADER */

.loaderContainer {
    display: inline-block;
    margin: 0 auto;
}
.loaderParent {
    text-align: center;
    margin-top: 5%;
}

/* LOGIN PAGE */

.iconContainer {
    border-style: solid;
    border-color: grey;
    border-width: thin;
    height: 25%;
    width: 40%;
    margin-left: 30%;
    margin-top: 5%;
}
.scraibLoginHeaderContainer {
    height: 15%;
    text-align: center
}
.scraibLoginHeader {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 100
}
.scraibLoginContainer {
    text-align: center
}
.scraibLogin {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 100;
    color: lightgray;
}
.loginInputFields {
    padding-top: 5%;
    text-align: center;
    height: 20%;
}
.loginButtonContainer {
    width: 60%;
    margin-left: 20%; 
}
.loginSignupContainer {
    margin-top: 10%;
    text-align: center;
}


/* SIGNUP PAGE */

.scraibSignupHeaderContainer {
    height: 7%;
    text-align: center;
    margin-top: 5%;
}
.scraibSignupHeader {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 100
}
.scraibSignupLineContainer {
    text-align: center;
    margin-bottom: 3%;
}
.scraibSignupLine {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: lightgray;
}
.physicianSignupTab {
    margin-left: 26%;
}
.scraibSignupContainer {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
}
.scraibSignup {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 100;
    color: lightgray;
}
.signupInputFields {
    text-align: center;
}
.scraibSignupPersonalHeaderContainer {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
}
.scraibSignupPersonalHeader {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: lightgray;
}
.signupDropdownContainer {
    margin-top: 3%;
}
.signupButtonContainer {
    width: 60%;
    margin-left: 20%; 
    margin-top: 10%;
}

/* ScrAIb Component */
.scraibParentContainer {
    display: flex;
    height: 89%;
}
.scraibLeftContainer {
    width: 43%;
    height: 100%;
}
.scraibMiddleContainer {
    width: 14%;
    height: 100%;
}
.scraibMiddleBorderContainer {
    width: 100%;
    height: 30%;
    padding-top: 15%;
    text-align: center
}
.scraibRecordButtonContainer {
    width: 100%;
    height: 45%;
}
.scraibRecordLoader {
    margin-left: 24%;
    margin-top: 26%;
}
.scraibRecordButtonCircleContainer {
    width: 100%;
    height: 60%;
    border-radius: 50%;
    background-color: #f3f3f3;
    border-style: solid;
    border-color: #78e3fd;
}
.scraibRightContainer {
    width: 43%;
    height: 100%;
}

/* SCRAIB RECORD/TRANSCRIPTION LEFT */

.recordTranscriptionContainer {
    height: 90%;
    width: 95%;
    margin: 0 auto;
    margin-top: 5%;
}
.currentTranscriptionContainer {
    border-style: solid;
    border-width: thin;
    height: 12%;
    border-radius: 15px;
    font-size: 250%;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    text-align: center;
    overflow-y: scroll;
}
.totalTranscriptionContainer {
    border-style: solid;
    border-width: thin;
    border-color: lightgray;
    height: 80%;
    width: 92%;
    margin: 0 auto;
    margin-top: 4%;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
}
.transcriptionItem {
    margin-top: 20px;
}

/* SCRAIB RECORD/TRANSCRIPTION RIGHT */

.scraibFormContainer {
    height: 95%;
    width: 95%;
    margin: 0 auto;
    padding: 5% 5% 2% 5%;
}
.scraibFormDataContainer {
    height: 98%;
    width: 97%;
    margin: 0 auto;
    overflow-y: scroll;
    padding: 3% 5% 0% 5%;
}
.formChiefComplaintContainer {
    margin-top: 5%;
}
.formPatientLabel {
    display: inline-block;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.formPatientTextField {
    margin-left: 3%;
}
.formTextField {
    margin-left: 5%;
}
.pinpointCheckboxContainer {
    margin-top: 5%;
    font-style: italic;
    font-weight: thin;
}
.formTextFieldContainer {
    border-style: solid;
    border-width: 0px;
    border-color: #78e3fd;
}


/* RECORDS */

.recordsContainer {
    padding: 3% 5% 2.5% 5%
}
.singleRecordContainer {
    height: 17.5%;
    display: flex;
    margin-bottom: 5%;
}
.singleRecordCircle {
    border-style: solid;
    border-width: thin;
    height: 100%;
    width: 10%;
    border-radius: 50%;
}
.singleRecordName {
    margin-left: 5%;
    margin-top: 4%;
    width: 22%;
    font-family: 'Roboto', sans-serif;
    font-size: 175%;
    font-weight: 100;
}
.singleRecordDate {
    margin-left: 10%;
    margin-top: 4%;
    width: 20%;
    font-family: 'Roboto', sans-serif;
    font-size: 175%;
    font-weight: 100;
}
.singleRecordButtons {
    width: 35%;
    display: flex;
    float: right;
    margin: 0 auto;
    padding-top: 4%;
}
.singleRecordViewButton {
    margin-left: 30%;
    margin-right: 10%;
}