.tabBar {
    color: black;
    background-color: black
}

a.navbar-brand {
    font-size: 200%;
}

nav.navbar.navbar-inverse {
    float: left;
    width: 100%;
    height: 8%;
    padding-top: 1%
}

div.container {
    width: 100%;
}
